RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteRule du-an-tieu-bieu/(.*)-([0-9]+)$ detail-du-an.php?id=$2 [QSA,L]

RewriteRule tin-tuc/(.*)-([0-9]+)\.html$ detail-tintuc.php?id=$2 [QSA,L]